.idea/
*.pyc
*.json


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Database
*.db

# Testing
/tests/.cache/

*.log

# Cached schedules from previous iteration
cached_schedules/

# Files with sensitive information
functions/utilities/variables.py
functions/utilities/directories.py

